<!-- 홈화면 -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/Home.js}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">

<title>Home</title>
</head>
<body>

<div id="main" class="container">
	<form role="form" id="home_form" th:object="${homeForm}" name="homeForm" method="post">
		<br/><div class="home">
			<div class="w300">분류</div>
			<div class="w300">이름</div>
		</div>
		<div class="home">
			<div class="w300 type">
				<select th:field="*{type}">
					<option value=""></option>
					<option value="1">과일</option>
					<option value="2">채소</option>
				</select>
			</div>
			<div class="w300 nameVal">
				<select id="nameList">
					<option value=""></option>
					<option th:each="listVal : ${nameList}" th:value="${listVal}" th:text="${listVal}" th:field="*{nameList}"/>
				</select>
			</div>
			<button type="button" id="searchBtn" class="btn btn-primary">조회</button>		
		</div>
		<br/><br/><br/>
		<div class="home price">
			<span>금액:</span>
			<span th:if="*{price != ''}" th:text="*{price} + 원"></span>
		</div>
		<div class="token"><input type="hidden" id="token" th:field="*{token}"></div>
		<input type="hidden" id="nameVal" th:field="*{nameVal}">
	</form>
</div>
</body>
</html>